{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %} 

<div class="conatiner">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2><b>Manage Employees</b> <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Add new Employee</button>
                </h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dissmissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">x</span></button>
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <table class="table table-hover table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Position</th>
                        <th>Action</th>
                    </tr>

                    {% if not employees %}
                    <div class="alert alert-warning alert-dissmissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">x</span></button>
                        No employee data present to display
                    </div>
                    {% endif %}
                    {% for employee in employees %}
                    <tr>
                        <td>{{employee.id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.age}}</td>
                        <td>{{employee.position}}</td>
                        <td>
                            <a href="/update/{{employee.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{employee.id}}">Edit</a>
			                <a href="/delete/{{employee.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete {{employee.name}} ?')">Delete</a>
                        </td>
                    </tr>
                    <!-- Modal Edit Employee -->
                    <div id="modaledit{{employee.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header"><h4 class="modal-title">Edit Employee Information</h4></div>
                                <div class="modal-body">
                                    <form action="{{url_for('update')}}" method="POST">
                                        <div class="form-group">
                                            <label>Name:</label>
                                        <!-- We need to send the id to backend to find the record
                                        You can add thos hidden input to any form-group element -->
                                        <input type="hidden" name="id" value="{{employee.id}}">
                                            <input type="text" class="form-control" name="name" value="{{employee.name}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Age:</label>
                                            <input type="number" class="form-control" name="age" value="{{employee.age}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Position:</label>
                                            <input type="text" class="form-control" name="position" value="{{employee.position}}">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </table>
            </div>

            <!-- Modal Add Employee -->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><h4 class="modal-title">Add Employee</h4></div>
                        <div class="modal-body">
                            <form action="{{url_for('create')}}" method="POST">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Age:</label>
                                    <input type="number" class="form-control" name="age" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Position:</label>
                                    <input type="text" class="form-control" name="position" required="1">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Add Employee</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
